* {
	padding: 0;
	margin: 0;
}

body {
	color: #333;
	font-size: 14px;
	margin:0 auto;
}

div {
	display: block;
}

body a {
	color: #1582bd;
}

.WB_UIbody {
	width: 1168px;
	height: 329px;
	background: #d6dbdd url(../img/bg_wb_uibody.png) repeat-x 0 0;
}

.oauth_xline {
	padding-top: 14px;
}

.WB_xline1 {
	background: url(../img/wb_xline_s1.png) center 0 no-repeat;
}

.oauth_wrap {
	width: 580px;
	height: 315px;
	margin: 0 auto;
}

.oauth_header {
	height: 44px;
	margin-bottom: 11px;
}

.oauth_header .WB_logo {
	float: left;
}

.WB_logo {
	margin: 0;
	padding: 0;
	width: 140px;
	height: 44px;
	background: url(../img/wb_logo.png);
	line-height: 200px;
	overflow: hidden;
}

.clearfix {
	zoom: 1;
}

.WB_logo a {
	display: block;
}

.oauth_header .login_account {
	margin-top: 20px;
	float: right;
	font-size: 12px;
	color: #969696;
}

.special_login_link {
	color: #1885bc;
	font-size: 14px;
	font-weight: bold;
}

.oauth_header .login_account .vline_login {
	margin: 0 8px;
	font-size: 14px;
}

.oauth_header .login_account .sign_up_link {
	color: #1885bc;
	font-size: 14px;
	font-weight: bold;
}

.WB_panel {
	height: 232px;
	border-radius: 6px;
	box-shadow: 0px 0px 5px #c6c6c6;
}

.oauth_content {
	padding: 10px 18px 0 20px;
}

.oauth_main_info {
	margin-bottom: 27px;
	padding-top: 5px;
}

.oauth_login {
	width: 540px;
	height: 91px;
	margin-top: 20px;
	padding-bottom: 20px;
	position: relative;
	_zoom: 1;
	border-bottom: 1px dotted #d8d8d8;
}

.clearfix {
	zoom: 1;
}

.oauth_login_form {
	width: 540px;
	height: 70px;
}

.oauth_login_01 {
	margin-bottom: 10px;
}

.oauth_input_label {
	width: 140px;
	text-align: right;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
}

label {
	cursor: default;
}

.oauth_login .oauth_form_input {
	width: 238px;
	height: 28px;
	padding: 0 9px;
	line-height: 28px;
	font-size: 14px;
	color: #9a9a9a;
}

.WB_iptxt {
	border: 1px solid #bebebe;
	background: #fafafa;
	border-radius: 2px;
	box-shadow: 0px 1px 0px #FFF;
}
.oauth_login_submit {
    font-size: 12px;
    line-height: 28px;
    float: right;
    margin-left: 10px;
    text-align: right;
}
.oauth_formbtn {
    margin: 7px 0 0 0;
    height: auto;
}
.oauth_formbtn a {
    float: left;
    cursor: pointer;
}
.formbtn_01 {
    margin-right: 11px;
}
.WB_btn_login{
	display: block;
    height: 40px;
    width: 86px;
    overflow: hidden;
    zoom: 1;
    line-height: 200px;
    background: url(../img/oauth_btn.png);
}
.WB_btn_cancel{
	    display: block;
    height: 40px;
    width: 86px;
    overflow: hidden;
    zoom: 1;
    line-height: 200px;
     background: url(../img/oauth_btn.png) no-repeat;
         background-position: 0 -41px;
}
.oauth_tiptxt {
    margin: 10px 0 0 20px;
    font-size: 12px;
    color: #646464;
    line-height: 18px;
}